#bottomContainerUser::before{
  content: "";  
 
  position: absolute;
  height: 120%;
  width: 100%;
  z-index:-1;
  opacity: 0.5;
}
.transferBoxuser{
  background-color: darkgray;
}

.Profile-Page{
  background-color: bisque;
}